.message {
    height: 100%;
    width: 100%;
    display: flex;
}

.imageAndText {

}

.imageAndText img {
    height: 48px;
    width: 48px;
}

.text {

}

.text:after {

}

.name {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.messageText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.time {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000;
}